<div style="width:90%;margin:auto;">

<h1 class="flow-text">Editar Guía</h1>

<%= render 'form', registro: @registro %>

<%= link_to 'Ver Guía', @registro , :class=>"btn waves-effect waves-light"%> |
<%= link_to 'Volver', registros_path , :class=>"btn waves-effect waves-light"%>
</div>
