<div style="width:90%;margin:auto;">
  <h1 class="flow-text">Nueva Guía</h1>
  <div class="row">
  <%= render 'form', registro: @registro , :class=>"col s6" %>
  </div>
  <%= link_to 'Volver', registros_path , :class=>"btn waves-effect waves-light"%>

</div>
